.header-color {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.background {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.landing-grid {
  text-align: center;
}

.projects-grid {
  margin: 2rem;
  width: calc(100% - 4rem);
  display: grid;
  grid: auto-flow / repeat(3,1fr);
  grid-gap: 1rem;
}

.projects-grid h2, h3, h4, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.resume-meta * {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@media (min-width: 1381px) {

  .projects-grid {
    grid: auto / repeat(4,1fr);

  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 825px) and (max-width: 1380px) {

  .projects-grid {
    grid: auto / repeat(3,1fr);

  }


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 824px) {

  .projects-grid {
    grid: auto / repeat(2,1fr);

  }

  .social-links{
    width: 80%
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .projects-grid {
    grid: auto / repeat(2,1fr);

  }

  .social-links{
    width: 80%
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .projects-grid {
    grid: auto / repeat(1,1fr);

  }

  .social-links{
    width: 80%
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {


  .projects-grid {
    grid: auto / repeat(1,1fr);
    margin: auto;
    width: calc(100% - 1rem);
  }

  .projects-bar {
    margin-top: 50px;
  }

  .social-links{
    width: 80%
  }

}


/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  background: white;
  color: black;
  padding-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.contact-grid p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.contact-grid hr {
  border-top: 1px solid black;
  width: 80%;
  margin: auto;
}

.contact-list{
  padding: 1rem;
}

.contact-list * {
  word-break: break-word;
}

.contact-list i {
  font-size: 38px;
  padding-right: 2rem;
}


/* contact page css */

.avatar-img {
  height: 150px;
  margin-top: 5em;
  border-radius: 20px;
}

.banner-text {
  background-color: #000000AA;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1, h2, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.banner-text h1 {
  font-size: 2.2em;
  color: white;
}

.banner-text h3 {
  font-size: 1.2em;
  color: white;
}

.banner-text hr {
  border-top: 1px solid white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 1em;
  padding: 1em;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.github-icon {
  color: white;
  font-size: 2em;
}

.card-header-text {
  font-size: 1.2em;
  color: black;
}

.link-style{
  color: black;
}

.project-img{
  height: 500px;
}

.projects-content{
  padding: 4rem;
}